<div class="aside">
  <ul class="type_list">
    <li class="type_item"><a href="#" class="type_item_link">個人タスク</a></li>
      <li class="type_item"><a href="#" class="type_item_link">チームタスク</a></li>
      <li class="type_item"><a href="#" class="type_item_link">プライベートタスク</a></li>
  </ul>
</div>

