<div class= "task_box">
  <% @tasks.each do |task| %>
    <div class="task_card">
      <%= task.title %>
      <a href="/task_types/<%= @select_type.id%>/tasks/<%= task.id%>"></a>
    </div>
  <% end %>
</div>
<div class="new_task_link"><%= link_to "New Task", new_task_type_task_path( @select_type), {class: "new_task_link_item"}%></div>
