<p class="detail_item_label">Title</p>
<div class="detail_title">受講生管理票作成</div>
<p class="detail_item_label">Details</p>
<%= simple_format "ああああああああああああ"%>
<p class="detail_item_label">Progress</p>
<%= simple_format "進んだ"%>
