<!-- DOCTYPE html -->

<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <title>Todo-App</title>
  <body>
    <header class="header">
      <h1 class="title">Todo</h1>
    </header>

    <main class="main">
      <div class="article">
        <p
      </div>

    </main>

    <footer class="footer">
      <p class="copylight">©arai</p>
    </footer>
  </body>
</html>

<!-- article=記事 -->